<header>
    <div class="header">
        <% if (user && user.fullname) { %>
            <div class="title">
            <h1>Welcome to eMail!</h1>
            </div>
            <div class="username">
            <h1><%= user.fullname %></h1>
            <a href="/signout">Sign out</a></div>
        <% } %>
    </div>
</header>
