<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="./css/accessDenied.css" />
  </head>
  <body>
    <div class="error-container">
      <div class="warning-status">
        <img src="./css/warning.png" alt="warning" class="warning-pic">
        <h3>403</h3>
         </div>
      <h2>Access Denied</h2>
      <p>You do not have permission to view this page. </p>
       <p>Please <a href="/signin">sign in</a> to access.</p>
    </div>
  </body>
</html>